body {
  background:#757575;
}

.header-box{
  background:#4aaaa5;
}

.screen-header {
  color: #cccccc;
}

.question-space {
  background: #4aaaa5;
}

.screen-header {
  
  background:#4aaaa5;
  color: white;

}

#game-start {
  border:none;
}

.results-screen {
  background:#4aaaa5;
  color:white;
}

.question-win-screen {
  background:#4aaaa5;
  color:white;
}

.question-lose-screen {
  background:#4aaaa5;
  color:white;
}